<section class="container m-4">
  <h2 class="text-center">Media Spotlight: <%= "#{@spotlight[0].title} by #{@spotlight[0].creator}"%></h2>
  <h6 class="text-center"><%= @spotlight[1]%> votes - <%= @spotlight[0].description %></h6>
</section>

<div class="row">
  <% @works.each do |category, collections|%>
    <section class="col">
      <h3>Top <%= category.capitalize %></h3>
      <% if @works[category].length == 0 %>
        <h5>No <%= category.capitalize %></h5>
      <% else %>
        <ul class="list-group list-group-flush">
          <% @works[category].each do |work| %>
              <li class="list-group-item"><%= link_to work.title, work_path(work.id) %> by <%= work.creator %></li>
          <% end %>
        </ul>
      <% end %>
    </section>
  <% end %>
</div>