<h2>List of Works</h2>

<section>
<% @works.each do |category, collections|%>
  <h3><%= category.capitalize %></h3>
  <table class="table">
    <tr>
      <th scope="col">Votes</th>
      <th scope="col">Category</th>
      <th scope="col">Title</th>
      <th scope="col">Created By</th>
      <th scope="col">Publish</th>
      <th scope="col">Upvote</th>
    </tr>
  <% if @works[category].length == 0 %>
    <tr>
      <td><%= "No #{category.capitalize}" %></td>
    </tr>
  <% else %>
    <% @works[category].each do |work| %>
      <tr>
        <td scope="row"><%= work.votes.count %></td>
        <td><%= work.category %></td>
        <td><%= link_to work.title, work_path(work.id) %></td>
        <td><%= work.creator %></td>
        <td><%= work.year %></td>
        <td><%= link_to "Upvote", upvote_path(work.id), method: :post, class:"btn btn-info custom" %></td>
      </tr>
    <% end %>
  <% end %>
  </table>
<% end %>
</section>
