<h2>List of Works</h2>

<%= Work.work_by_votes("album") %>
  <h3>Albums</h3>
  <table class="table">
    <tr>
      <th scope="col">Votes</th>
      <th scope="col">Category</th>
      <th scope="col">Title</th>
      <th scope="col">Created By</th>
      <th scope="col">Publish</th>
    </tr>
    <% @works.each do |work| %>
      <% if work.category == 'album'%>
        <tr>
          <td scope="row"><%= work.votes.size %></th>
          <td><%= work.category %></th>
          <td><%= link_to work.title, work_path(work.id) %></th>
          <td><%= work.creator %></th>
          <td><%= work.year %></th>
        </tr>
      <% end %>
    <% end %>
  </table>

  <h3>Books</h3>
  <table class="table">
    <tr>
      <th scope="col">Votes</th>
      <th scope="col">Category</th>
      <th scope="col">Title</th>
      <th scope="col">Created By</th>
      <th scope="col">Publish</th>
    </tr>
    <% @works.each do |work| %>
      <% if work.category == 'book'%>
        <tr>
          <td scope="row"><%= work.votes.size %></th>
          <td><%= work.category %></th>
          <td><%= link_to work.title, work_path(work.id) %></th>
          <td><%= work.creator %></th>
          <td><%= work.year %></th>
        </tr>
      <% end %>
    <% end %>
  </table>

  <h3>Movies</h3>
  <table class="table">
    <tr>
      <th scope="col">Votes</th>
      <th scope="col">Category</th>
      <th scope="col">Title</th>
      <th scope="col">Created By</th>
      <th scope="col">Publish</th>
    </tr>
    <% @works.each do |work| %>
      <% if work.category == 'movie'%>
        <tr>
          <td scope="row"><%= work.votes.size %></th>
          <td><%= work.category %></th>
          <td><%= link_to work.title, work_path(work.id) %></th>
          <td><%= work.creator %></th>
          <td><%= work.year %></th>
        </tr>
      <% end %>
    <% end %>
  </table>